@model IList<ShopSmart.Dal.ShopList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>History of shopping lists:</h4>
	<hr />
    
        @for (var i = 0; i < Model.Count; i++)
{<div>
        @Html.RadioButtonFor(model => model[0].Id, "false", new { @class = "rdbArchiveList", name = "selectList" })
        <dl class="dl-horizontal">


            <dt>
                @Html.HiddenFor(model => model[i].Id)
            </dt>

            <dd>
                @Html.HiddenFor(model => model[i].Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[i].TotalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].TotalPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[i].Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[i].Title)
            </dd>




        </dl>
    </div>
}

   
</div>

